---
mop_repo: {{ repository }}
ticket: 
page_title: 
parent_page_id: 
summary:
 - 

# times must be string, start_day must be either 'today' or in YYYY-MM-DD format
gcal_auth_path: {{ gcal_auth_path }}
start_time: 
end_time: 
start_day: 

changes: