---
# Section options:
#   - rh, core, noc: Single line instructions
#   - cmd-rh, cmd-core, cmd-noc:  # Multi-line instructions in a no-format macro
#     - Intstruction line ('do this')
#     - |-
#       Multiline command lines
#   - expand-core, expand-noc: Multi-line instructions in an expand macro. Written same as cmd-
#     - Intstruction line ('do this')
#     - |-
#       Multiline command lines
#   - jumper:
#     - Instructions
#     - acage:
#       arack:
#       adevice:
#       aport:
#       acable:
#       aterm: 'Yes'
#       zcage:
#       zrack:
#       zdevice:
#       zport:
#       zterm: 'No'
#   - note: Bulleted item underneath the previous instruction


repository: {{ repo }}

page_title: 
parent_page_id: 
ticket: 

summary:
 - 
level: 
executing_dep: 
rh: 
approval: 
impact:
- 
escalation: Deploying Engineer

partial_rollback: True
rollback_steps:
 -
pre_maint:
-

tech_equip:
  - 
shipping:


sections: