---
# Section options:
#   - rh, core, noc: Single line instructions
#   - cmd_rh, cmd_core, cmd_noc:  # Multi-line instructions in a no-format macro
#     - Intstruction line ('do this')
#     - |-
#       Multiline command lines
#   - expand_core, expand_noc: Multi-line instructions in an expand macro. Written same as cmd_
#     - Intstruction line ('do this')
#     - |-
#       Multiline command lines
#   - jumper:
#     - Instructions
#     - acage:
#       arack:
#       adevice:
#       aport:
#       acable:
#       alabel: 
#       aterm: 'Yes'
#       zcage:
#       zrack:
#       zdevice:
#       zport:
#       zlabel: 
#       zterm: 'No'
#   - note: Bulleted item underneath the previous instruction


repository: {{ repository }}
page_title: 
parent_page_id: 
ticket: 

summary:
  - 
level: 
executing_dep: 
rh: 
approval: 
impact:
  - 
escalation: Deploying Engineer

partial_rollback: True
rollback_steps:
  -
nb_cables:  # CLR: link
nb_devices:  # device_name: link
pre_maint:
  -

tech_equip:
  -
shipping:


sections: